.h1{
    color:#f0e7ea;
}


/*Estilo Cadastrar*/
.card{
width: 400px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
box-shadow: 1px 5px 30px rgba(195,195,195);
}



.mainCadastrar{
width: 100vw;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}

.leftCadastrar{
width: 50vw;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

.leftCadastrar>h1{
font-size: 3vw;
color:rgba(7, 6, 6, 0.575);
}

.leftCadastrarimagem{
width: 35vw;
}

.rightCadastrar{
width: 50vw;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}

.cardCadastrar{
width: 60%;
display:flex;
justify-content: center;
align-items: center;
flex-direction: column;
padding: 30px 35px;
background: #2f2841;
border-radius:20px;
box-shadow: 0px 10px 40px #00000056; 
}

.cardCadastrar>h1{
font-weight: 800;
margin: 0;
}

.textfield{
width: 100%;
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: center;
margin: 10px;
}

.textfield>input{
width: 100%;
border:none;
border-radius: 10px;
padding: 15px;
background: #514869;
color: #f0ffffde;
font-size: 12pt;
box-shadow: 0px 10px 40px #00000056; 
outline: none;
box-sizing: border-box;
}


.textfield>label{
color: #f0ffffde;
margin-bottom: 10px;
}

.textfield>input::placeholder{
color: #f0ffff94;
}

.btnCadastrar{
width: 100%;
padding: 16px 0px;
margin: 25px;
border: none;
border-radius: 8px;
outline: none;
text-transform: uppercase;
font-weight: 800;
letter-spacing: 3px;
color: #2b134b;
background: #f0e7ea;
cursor: pointer;
box-shadow: 0px 10px 40px -12px #770cce52;
}


.link:hover{
    color: #c9bcdb;
}
 
/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
.card{
    top: 80%;
}
.mainCadastrar{
    flex-direction: column;
}
.leftCadastrar>h1{
    display: none;
}

.leftCadastrar{
    width: 100%;
    height: auto;
}
.rightCadastrar{
    width: 100%;
    height: auto;
}

.leftCadastrarimagem{
    width: 50vw;
}
.cardCadastrar{
    width: 90%;
}
}






/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
.cardCadastrar{
    width: 85%;
}
}

/*// Small devices (landscape phones, 576px and up)*/
@media (max-width: 375px) { 
    .leftCadastrarimagem{
        width: 30vw;
    }
}
