.main{
    position: fixed;
    top: 0px;
    padding-top: 40px;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin:0 auto;
    z-index: 99999;
    background-color: #23252b73;
    
    
}
.main2{
    position: fixed;
    top: 0px;
    padding-top: 40px;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin:0 auto;
    z-index: 9999;
   cursor: pointer;
}

.container{
    background-color:#23252bea; 
   
}


.container2{
    margin: auto;
    width: 60%;
    height: 50%;
    position: relative;
    z-index: 999999999;
    

}
.container3{
    padding: 10px;
    display: flex;
    justify-content: space-evenly;

   
}

.divimagem{
    margin: auto;
    
}



.divcontainerimagens{
    width: 100%;
    background-color: #23252bf5;
    height: 80%;
   
    
    

}
.imagem{
    width: 100%;
    height: 100%; 
    cursor: pointer;
    z-index: 999999999;
    border: 3px solid #23252bf5;
}
.imagem:hover{
    border: 3px solid #e974726e;
}
.imagemSelected{
    border: 3px solid #b80502 !important;
}
.img0{
    width:100%;
    height: 200px;
    justify-content: center;
    align-items: center; 
}

.ul{
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 0;
    overflow-y: scroll; 
    height: 300px;  
}

.ali{
    max-width: 90%;
    margin: 0 auto;
    padding: .5rem;
}
 
.button{
    margin: 4px;
    background-color:#B01E1C;
    z-index: 999999999;
    
}

.button:hover{
    
    background-color: #E97472;
    
}


.h2{
    font-size: 1.5rem;
    font-weight: 900;
    color: white;
   
     
}

.p{
    font-size: .9rem;
    font-weight: 900;
    color: white;
 
    
}


@media (max-width:1100px){
    .container2{ 
        width: 80%;
        height: 50%;
    }   
}

@media (max-width:850px){
     .img0{ 
        height: 28vh; 
    }
    .container3{
        padding: 10px; 
        flex-direction: column;
        text-align: center;
    }
    .ul{ 
        grid-template-columns: auto; 
        height: 52vh;  
    }
    .ali{ 
        height: 18vh; 
    }
}

@media (max-width:650px){
    .container2{ 
        width: 90%; 
    } 
    .img0{ 
       height: 20vh; 
   }
   .h2{
    font-size: 1.2rem; 
   }

.p{
    font-size: .8rem; 
 }
 .button{
    padding: .4rem .6rem; 
}
}

@media (max-width:545px){
    .img0{ 
       height: 18vh; 
   }
   .ali{ 
    height: 12vh; 
    }
}

@media (max-width:545px){
    
    .img0{ 
       height: 17vh; 
   }
   .ali{ 
    height: 15vh; 
    }
}
@media (max-width:374px){
    .img0{ 
       height: 16vh; 
   }
    
}