/* Cores globais */
*{
  --color-primary: #0c3675; 
  --color-secondary: #4c2d96;
  --color-bg-primary: #ffffff;
  --color-bg-secondary: #bfbbdf3b;
  --color-text-primary: #000000;
  --color-text-secondary: #ffffff;
} 

*{
  margin:0;
  padding:0;
  outline:none;
  box-sizing:border-box;
} 

html,body,#root{
  font-family: 'Roboto Slab', serif;
  height:100%;  
  background-color: var(--color-bg-secondary);
}

button{
  cursor:pointer; 
  border: none; 
  padding: 10px 20px;
  background-color: var(--color-primary);
  color: var(--color-text-secondary);
  border-radius: 4px;
  font-weight: 700;
  transition: all 300ms;
}
button:hover{
  filter: brightness(75%);
}

a {
  color: var(--color-text-secondary);
  text-decoration: none;
}

ul{
  list-style:none;
}
 
.carousel-control-next-icon,
.carousel-control-prev-icon{
  height: 7088px !important;
  width: 4rem !important;
  height: 4rem !important;
}
