.main-btn{
    background-color: purple;
    color: black;
    text-transform: uppercase;
    width: 200px;
    height: 60px;
    padding: 10px 20px;
    border-radius: 30px;
    border: 3px solid transparent;
    transition: 5s;
  }
  
  .main-btn:hover{
    text-decoration: none;
    color: black;
    background-color: transparent;
    border-color: purple;
  }
  
  
  
  
  
  /*Estilo login*/
  .card{
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 1px 5px 30px rgba(195,195,195);
  }
  
  #fundo{
    background-color: #201b2c;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
  }
  
  
  .main-login{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .left-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .left-login>h1{
    font-size: 3vw;
    color: #77ffc0;
  }
  
  .left-login-imagem{
    width: 35vw;
  }
  
  .right-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card-login{
    width: 60%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #2f2841;
    border-radius:20px;
    box-shadow: 0px 10px 40px #00000056; 
  }
  
  .card-login>h1{
    color: #00ff88;
    font-weight: 800;
    margin: 0;
  }
  
  .textfield{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px;
  }
  
  .textfield>input{
    width: 100%;
    border:none;
    border-radius: 10px;
    padding: 15px;
    background: #514869;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056; 
    outline: none;
    box-sizing: border-box;
  }
  
  
  .textfield>label{
    color: #f0ffffde;
    margin-bottom: 10px;
  }
  
  .textfield>input::placeholder{
    color: #f0ffff94;
  }
  
  .btn-login{
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #2b134b;
    background: #00ff88;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
  }
  