
@media(min-width:1201px){ 
  .link:hover div{   
    animation: animation .5s ease-in-out;
    display: block;
 }
 
}

@keyframes animation {
  0% {   
    transform-origin: top;
    transform: scaleY(0); 
  } 

  100% {  
    transform-origin: top;  
    transform: scaleY(1); 
  }
}
 

.menuDiv{   
  display: none;  
  background-color: #ffffff;   
  position: absolute;  
  margin-top: 2rem;
  min-width: 300px;  
  padding-top: 12px;
  padding-bottom: 12px;
  z-index: 99999;   
  border: 1px solid rgba(85, 85, 85, 0.281); 
  
}

.active {
  color: #3f6cb2 !important;
}
.link{ 
  min-height: 50px;   
  color:#fff;
}
.link  {
  color: rgba(255,255,255,0.8);
  font-size: .9rem;
  font-weight: 600;  
  padding: 6px 15px;
  padding-top: 13px;
}

.link label:hover {
  color: rgba(255,255,255,1);
  cursor: pointer;
}
.link:hover { 
  color: rgba(255,255,255,1);
  cursor: pointer;
} 
.link:not(:first-child) > a {
  border-left: 1px solid rgba(255,255,255,0.15); 
}
 

.menuDiv ul{    
  padding: 0;
  margin: 0;
}

.menu > li {
  padding: 0 15px; 
}

.menu > li > a {  
  font-size: .9rem;
  font-weight: 700;
  line-height: 1.5rem;
  display: block;
  padding: .5rem  ;
  line-height: 1.7143; 
  color:#555555;
}

.menu > li > a:hover {
  font-weight: 700;
  padding-left: 6%;
  background-color: #3f6bb252;
  color:#3F6CB2;
}

.menu > li:not(:first-child) > a {
  border-top: 1px solid #e6eaf0; 
}

.tri{  
  position: absolute;
  margin-left: 5px; 
  top: 0;
  margin-top: -.45rem;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #fff;
}
 
@media(max-width:1200px){
   
  .link{
    padding-left: 2rem;
  }
  .menu > li {
    padding: 0 ; 
    margin-left: -1.5rem; 
  }
  .menu{
    background-color: rgba(255,255,255,0.05);
    border-radius: 4px; 
  }
  .menu > li:first-child  {
    margin-top: 1rem;
  }
  .menuDiv{ 
    display: none;  
  } 
  .menu > li:not(:first-child) > a {
    border-top: 0; 
  }
  .tri{
    display: none;
  }
  .link:hover .link:target div{   
    display: none;
 }
  .menu > li > a {  
    color:rgba(255,255,255,0.8);
    
  } 
}